@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    font-family: 'Retro gaming';
}
@font-face {
    font-family: 'Retro gaming';
    src: url('assets/Retro-Gaming.ttf');
    font-style: normal;
    font-weight: normal;
}
h1{
    font-size: 3rem;
}